extends layout

block content  
	include header.jade
	include menu.jade
  

	p.contactStyle  Activate Moonbeams Now
	p.contactStyle
		div!=configurationFile.staticPageList.aboutExample.staticPageName
		div!=configurationFile.staticPageList.aboutExample.staticPageTextContent