extends layout

block content
  h1= title
  h2 Welcome to #{title}
  <a href="/">Home</a>  <a href="/pagecontent">Contact</a> 
  p
  p Full Screen Inc.
  p 
  p Read about our commitment to being committed.
  p 
  p Read about our commitment to Great Big Images
  p
  h3 Our Recent Projects Are Presented Below  
  ul
    each val in collectorArray
      div!=val


