extends layout
block content
  include header.jade
  .inserts
    div(id="menubox")
      a Home
      each val in collectorArray
        !=val.button + " "
    h3 Recent Projects
    div(id="allContent")
      each val in collectorArray
        div.item(class="showbox expander clicker")
          div!=val.title
          img(src=(val.image)).wrapper
          div!=val.text
          br
          a(href=val.moreinfolink) Learn More
          br
    include menu.jade
 
  | <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  | <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
// <script> $('.clicker').click(function(){ $('.item').; });</script>
  |  
