extends layout

block content
  h1= title
  h2 Welcome to #{title}
  <a href="/">Home</a>  <a href="/pagecontent">Our Projects</a> 
  p Full Screen Inc.
  p 
  p Read about our commitment to commitment.
  p 
  p INSERT CONTENT HERE.
  p 
  each thing in collectorArray
    thing

 