extends layout
link(rel='stylesheet', href='/stylesheets/style.css')
script(src='/bootstrap/js/bootstrap.min.js')

block content
  
  include header.jade
  include menu.jade
  
  .inserts
    h3 Our Recent Projects Are Presented Below  
    ul
      each val in collectorArray
        div!=val