body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A3ECDA;
}

a {
  color: red;
}

.mycontent
 { 
 	font: 12px; background-color: #E0E0FF;
 	padding: 20px;
 	margin: 20px;
 		}


 