body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #A3ECDA;
}

a {
  color: red;
}

.mycontent
 { 
 	font: 12px ; 
 	color: black;
 	background-color: #E0E0FF;
 	padding: 20px;
 	margin: 20px;
 		}

.inserts {
	background-color: #666666;
	margin: 20px;
	padding: 10px;
	color: white;
}

#logo {height: 200px; width: 200px;}
 